.checkout-item-container {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;

  .image-container {
    flex: 1;
    padding-right: 15px;

    img {
      object-fit: cover;
    }
  }

  .name,
  .quantity,
  .price {
    flex: 1;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;

      &:hover {
        transform: scale(110%);
      }
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;

    &:hover {
      transform: scale(110%);
    }
  }
}