@import url(https://fonts.googleapis.com/css2?family=Henny+Penny&family=Josefin+Sans&family=Raleway&display=swap);

:root {
  --bgcolor: whitesmoke;
  --onbackground: #333;
  --border-color: #333;
}

body {
  font-family: "Josefin Sans", sans-serif;
}