@import url(https://fonts.googleapis.com/css2?family=Henny+Penny&family=Josefin+Sans:wght@400;700&family=Raleway&display=swap);

:root {
  --bgcolor: whitesmoke;
  --onbackground: #333;
  --border-color: #333;
  --sub-color: #555;
  --text-color: black;
  --default-font: "Josefin Sans",
  sans-serif;
}

body {
  font-family: var(--default-font);
}
a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--onbackground);
}
.forms-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  .form {
    flex-grow: 1;
    max-width: 500px;
    margin: 0 20px;
  }

}
